/* external_styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffe4e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color:#ce2029;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    color: #555555;
}

.external-css {
    color: green;
    font-style: italic;
}
